[Unit]
Description=Flask App (Raw Python)
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/app
ExecStart=/usr/bin/python3 /home/ubuntu/app/app.py
Restart=always

[Install]
WantedBy=multi-user.target
